:root {
    --imgWidth: 360px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2E3D3C;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}

.header {
    text-align: center;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    background-color: antiquewhite;
    padding: 25px;
}

.header-img {
    display: flex;
    height: auto;
    width: var(--imgWidth);
    margin-top: 20px;
    margin-left: calc(100% / 2 - var(--imgWidth) / 2);
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgb(0 0 0/30%);
}

.score-board {
    color: antiquewhite;
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 2px 3px rgb(0 0 0/20%);
    margin-top: 20px;
    border: whitesmoke;

}

#winner {
    font-size: 40px;
    text-shadow: 5px 2px 3px rgb(0 0 0/20%);
    text-align: center;
    color: antiquewhite;
    margin-top: 20px;
}

.img-container {
    display: flex;
    margin-left: calc(100% / 2 - var(--imgWidth) / 2);
    margin-top: 25px;

}

.img-container-item {
    width: 110px;
    margin: calc(30px / 5);
    border-radius: 15px;
}

.img-container-item:hover {
    transform: scale(.9);
    box-shadow: 0px 10px 20px rgb(0 0 0/50%);
    cursor: pointer;
}

.go-ahead {
    font-size: 30px;
    text-shadow: 5px 2px 3px rgb(0 0 0/20%);
    text-align: center;
    color: antiquewhite;
    margin: 15px auto;
}